p1 {
	font-size: 50;
	color: white;
	font-family: Arial;
	font-weight: bold;
}
p2 {
	font-size: 35;
	color: darkgrey;
	font-family: Arial;
}
p5 {
	float: right;
}
body {
	background-image: url("discord.png");
    background-size: cover;
	background-repeat: no-repeat;
}
p3 {
	font-size: 40;
	color: grey;
	font-family: Arial;
}
p4 {
	font-size: 35;
	color: darkgrey;
	font-family: Arial;
	background-color: #660066;
}
	a:visited, a:active  {
  	font-size: 35;
	color: darkgrey;
	font-family: Arial;
}
a:hover, a:link  {
  	font-size: 35;
	color: grey;
	font-family: Arial;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
p3 {
	font-size: 40;
	color: darkgrey;
	font-family: Arial;
	background-color: #333;
	display: block
}
p {
	background-color: #333;
	display: block;
	font-family: Arial;
	color: darkgrey;
	font-size: 20;
}
pk {
	font-size: 100
}	
pd	{
	display: block;
	font-family: Arial;
	background-color: white;
	font-size:40

